@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat&display=swap');
$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #c29062;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$background-dark-color: #604328;
$link-color: #604328;
$link-hover-color: #c29062;

$header-font: 'Montserrat', sans-serif;
$main-font: 'GFS-Didot', serif;
$modern-font: 'Montserrat', sans-serif;
$old-fashioned-font: 'Georgia', 'Times New Roman', Times, serif;
$worst-ever-font: 'Courier New', Courier, monospace;
