/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* .nav li:first-child {
    background-color: #f0f;
}

.nav li:last-child {
    background-color: #0ff;
} */

/* .nav li:hover {
    background-color: #c29062;
} */

.nav a {
    color: #604328;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 2px solid #c29062;
    color: #c29062;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

.logo {
    max-width: 150px;
    padding-left: 1em;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
    text-decoration: none;
}

.title p {
    font-style: italic;
}