img {
    max-width: 100%;
}

img.small {
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px $link-hover-color;
    float:left;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 1.4em;
    max-width: 250px;
    vertical-align: top;
}
