img {
    max-width: 100%;
}

.small {
    border: 2px solid #eee;
    border-radius: 5px;
    float:left;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 1.4em;
    max-width: 250px;
    vertical-align: top;
}
