@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$background-dark-color: #604328;
$link-color: #604328;
$link-hover-color: #c29062;

$modern-font: 'Montserrat', sans-serif;
$old-fashioned-font: 'Georgia', 'Times New Roman', Times, serif;
$worst-ever-font: 'Courier New', Courier, monospace;
