.tech-content table {
    border: solid 1px $table-border-color;
    border-collapse: collapse;
    margin-bottom: 1.2rem;
    width: 100%;
}

.tech-content table th,
.tech-content table td {
    border: solid 1px $table-border-color;
    padding: 0 5px;
}

.color-table {
    border-style: none;
    border-spacing: 4px;
    border-collapse: separate;
    margin-bottom: 1.2rem;
}

.color-table td {
    border-style: none;
    height: 50px;
    width: 50px;
    color: $darkest-text;
    font-family: $header-font;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

.color-table .light {
    color: $font-alternative-color;
}

.color-table .dark {
    color: $font-alternative-color-dark;
}

.color-table-small {
    border-style: none;
    border-spacing: 4px;
    border-collapse: separate;
    margin-bottom: 1.2rem;
    width: 100%;
}

.color-table-small td {
    border-style: none;
    height: 50px;
    width: 50px;
    color: $darkest-text;
    font-family: $header-font;
    font-size: 0.7em;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

.color-table-small .light {
    color: $font-alternative-color;
}

.color-table-small .dark {
    color: $font-alternative-color-dark;
}
