@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat&display=swap');
$font-color: #E0D2C5;
$font-alternative-color: #fff;
$font-alternative-color-dark: #000;
$accent-color: #c29062;
$accent-color-alternative: #c29062;
$background-color: #281B10;
$background-alternative-color: #442F1C;
$background-header-footer: #281B10;
$background-dark-color: #604328;
$darkest-text: #281B10;
$content-color: #281B10;
$image-border-color: #7d6650;
$link-color: #C3B7AC;
$link-hover-color: #c29062;
$link-hover-color-content: #c29062;
$link-active-color: #FFF5EB10;
$image-filter: saturate(150%);
$logo-filter: drop-shadow(0 0 0.75rem #c29062);
$logo-filter-hover: drop-shadow(0 0 0.75rem #E97F46);
$table-border-color: #442F1C;

$header-font: 'Montserrat', sans-serif;
$main-font: 'GFS-Didot', serif;
$modern-font: 'Montserrat', sans-serif;
$old-fashioned-font: 'Georgia', 'Times New Roman', Times, serif;
$worst-ever-font: 'Courier New', Courier, monospace;
